<div class="productCard" id="productCard">
    <div class="productCard__imageContainer">
        <img class="imageContainer__photo" src={{srcimg}} alt={{altimg}}>
    </div>
    <div class="productCard__carSpec">
        <div class="carSpec__headText">
            <a class="headText__link" href=/cars/{{id}}>{{namecar}}</a>
        </div>
        <div class="carSpec__main">
            <div class="main__specifications">{{spec}}</div>
            <div class="main__price">{{price}} ₽</div>
            <div class="main__year">{{yearcar}} г.</div>
            <div class="main__mileage">{{mileage}} км.</div>
        </div>
    </div>
</div>
