<div class="productCard" id="productCard">
    <div class="productCard__imageContainer">
        <img class="productCard__imageContainer__photo" src={{srcimg}} alt={{altimg}}>
    </div>
    <div class="productCard__carSpec">
        <div class="productCard__carSpec_headText">
            <a class="productCard__carSpec_headText__link" href=/cars/{{id}}>{{namecar}}</a>
        </div>
        <div class="productCard__carSpec__main">
            <div class="productCard__carSpec__main__specifications">{{spec}}</div>
            <div class="productCard__carSpec__main__price">{{price}} ₽</div>
            <div class="productCard__carSpec__main_year">{{yearcar}} г.</div>
            <div class="productCard__carSpec__main__mileage">{{mileage}} км.</div>
        </div>
    </div>
</div>
