<div class="carSheetContainer">
    <div class="carSheetContainer__headerCar">
        <div class="headerCar__carNameDiv">
            <h1 class="carNameDiv__carNameH1">{{namecar}}</h1>
        </div>
        <div class="headerCar__price">{{price}} ₽</div>
    </div>
    <div class="carSheetContainer__owner">
        <div class="owner__data">{{nameowner}}</div>
        <div class="owner__messeage">{{messeage}}</div>
        <div class="owner__number">{{numberowner}}</div>
    </div>
    <div class="carSheetContainer__carSpecAndIMG">
        <div class="carSpecAndIMG__allspec">
            <p class="allspec__spec1">{{specifications}}</p>
            <p class="allspec__spec2">{{spec}}</p>
            <p class="allspec__year">Год выпуска: {{yearcar}}</p>
            <p class="allspec__mileage">Пробег: {{mileage}}</p>
        </div>
        <div class="carSpecAndIMG__img">
            <img src={{srcimg}} alt={{altimg}} class="carSpecAndIMG__img__carImg">
        </div>
    </div>
    <div class="carSheetContainer__sellerComment">
        <h2 class="sellerComment__header">{{commentHeader}}</h2>
        <div class="sellerComment__text">{{descriptioncar}}</div>
    </div>
</div>
