<div class="carSheetContainer">
    <div class="carSheetContainer__headerCar">
        <div class="carSheetContainer__headerCar__carNameDiv">
            <h1 class="carSheetContainer__headerCar__carNameDiv__carNameH1">{{namecar}}</h1>
        </div>
        <div class="carSheetContainer__headerCar__price">{{price}} ₽</div>
    </div>
    <div class="carSheetContainer__owner">
        <div class="carSheetContainer__owner__data">{{nameowner}}</div>
        <div class="carSheetContainer__owner__messeage">{{messeage}}</div>
        <div class="carSheetContainer__owner__number">{{numberowner}}</div>
    </div>
    <div class="carSheetContainer__carSpecAndIMG">
        <div class="carSheetContainer__carSpecAndIMG__allspec">
            <p class="carSheetContainer__carSpecAndIMG__allspec__spec1">{{specifications}}</p>
            <p class="carSheetContainer__carSpecAndIMG__allspec__spec2">{{spec}}</p>
            <p class="carSheetContainer__carSpecAndIMG__allspec__year">Год выпуска: {{yearcar}}</p>
            <p class="carSheetContainer__carSpecAndIMG__allspec__mileage">Пробег: {{mileage}}</p>
        </div>
        <div class="carSheetContainer__carSpecAndIMG__img">
            <img src={{srcimg}} alt={{altimg}} class="carSheetContainer__carSpecAndIMG__img__carImg">
        </div>
    </div>
    <div class="carSheetContainer__sellerComment">
        <h2 class="carSheetContainer__sellerComment__header">{{commentHeader}}</h2>
        <div class="carSheetContainer__sellerComment__text">{{descriptioncar}}</div>
    </div>
</div>
